Package: com.nahtedetihw.fullplay
Name: FullPlay
Version: 1.5
Architecture: iphoneos-arm
Conflicts: althiometer.fullplay
Description: Make the Now Playing view in Apple Music Full Screen!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
