<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.fullplayprefs</string>
			<key>key</key>
			<string>enablePodcasts</string>
			<key>label</key>
			<string>Enable Podcasts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Now Playing Grabber</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.fullplayprefs</string>
			<key>key</key>
			<string>removeGrabberPodcasts</string>
			<key>label</key>
			<string>Remove Grabber</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Music Controls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.fullplayprefs</string>
			<key>key</key>
			<string>enableControlsVibrationPodcasts</string>
			<key>label</key>
			<string>Enable Vibration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>killPodcasts</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restart Podcasts</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>FullPlay 1.6</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2020 © ETHN</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
